@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-sfpro bg-primary
    }

    p{
      @apply font-sfpro text-[12px]
    }

    li{
      @apply font-sfpro text-[12px] active:text-black text-accent
    }
    h3{
      @apply text-[14px]
    }
    h1{
      @apply font-bold
    }
    
      .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}
